/* ==========================================================================
   1. ШРИФТЫ
   ========================================================================== */
@font-face {
  font-family: 'Muller';
  src: url('/fonts/2DF5B4_F_0.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('/fonts/2DF5B4_D_0.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('/fonts/2DF5B4_2_0.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'madeevolvesans';
  src: url('/fonts/MADEEvolveSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* ==========================================================================
   2. ПЕРЕМЕННЫЕ (Mobile First)
   ========================================================================== */
:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  --effectDuration: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  --main-color: #2f9e88;
  --hero-bcg-color: #2e2f4270;
  --text-color-white: #fff;
  --bgc-color-white: #fff;
  --bgc-info-panel: #51c2ab;
  --text-color-black: #252525;
  --button-hover-color: #0e6957d4;
  --text-color-price: #656565;
  --photo-corner-color: #eaeaf3;
  --modal-overlay-color: #000000cc;
  --bgc-footer: #22202f;
  --logo-color: #3d3f96;

  /* ТИПОГРАФИКА: MOBILE (базовые значения) */
  --fs-h1: 28px;
  --fs-h2: 26px;
  --fs-modal-h3: 20px;
  --fs-h3: 18px;
  --fs-p: 15px;
  --fs-modal-p: 14px;
  --fs-hero-p: 16px;
  --fs-services: 16px;
  --fs-text: 14px;
  --fs-list: 15px;
  --fs-price: 16px;
  --fs-link: 13px;
  --fs-confirm: 13px;
  --fs-button: 12px;
  --fs-social: 10px;
  --fs-info-panel: 16px;
  --fs-footer: 14px;
}

/* TABLET (от 768px) */
@media (min-width: 768px) {
  :root {
    --fs-h1: 35px;
    --fs-h2: 36px;
    --fs-modal-h3: 25px;
    --fs-h3: 20px;
    --fs-services: 18px;
    --fs-hero-p: 18px;
    --fs-p: 16px;
    --fs-modal-p: 16px;
    --fs-button: 16px;
    --fs-info-panel: 18px;
    --fs-nav-panel: 14px;
    --fs-footer: 18px;
  }
}

/* DESKTOP (от 1200px) */
@media (min-width: 1200px) {
  :root {
    --fs-h1: 46px;
    --fs-h2: 44px;
    --fs-modal-h3: 30px;
    --fs-h3: 22px;
    --fs-p: 18px;
    --fs-modal-p: 18px;
    --fs-hero-p: 25px;
    --fs-services: 20px;
    --fs-text: 16px;
    --fs-list: 16px;
    --fs-price: 16px;
    --fs-link: 15px;
    --fs-confirm: 14px;
    --fs-social: 12px;
    --fs-info-panel: 22px;
    --fs-nav-panel: 22px;
    --fs-footer: 20px;
  }
}

/* ==========================================================================
   3. СБРОС СТИЛЕЙ И БАЗОВЫЕ НАСТРОЙКИ
   ========================================================================== */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Muller', Arial, sans-serif;
  line-height: 1.4;
  margin: 0;
  background-color: #fff;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  font-family: madeevolvesans;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  font-size: var(--fs-button);
  letter-spacing: 0.07em;
  color: var(--text-color-white);
}

img {
  display: block;
  width: 100%;
  height: auto; /* Исправил height: 100%, чтобы не сплющивало фото */
  object-fit: cover;
}

svg {
  display: block;
}

/* ==========================================================================
   4. ТИПОГРАФИКА (Применение переменных)
   ========================================================================== */
h1 {
  font-family: 'madeevolvesans', sans-serif;
  font-size: var(--fs-h1);
  line-height: 1.43;
}
h2 {
  font-family: 'madeevolvesans', sans-serif;
  font-size: var(--fs-h2);
  line-height: 1.2;
}
h3 {
  font-family: 'madeevolvesans', sans-serif;
  font-size: var(--fs-h3);
}

p {
  font-size: var(--fs-p);
}

.hero-text {
  font-size: var(--fs-hero-p);
}
.service-title {
  font-size: var(--fs-services);
}
.price-tag {
  font-size: var(--fs-price);
}
.social-link {
  font-size: var(--fs-social);
}

/* ==========================================================================
   5. СЕТКА И СЕКЦИИ
   ========================================================================== */
.container {
  width: 100%;
  max-width: 428px;
  padding: 0 15px;
  margin: 0 auto;
}

section {
  padding: 40px 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 20px;
  }
  section {
    padding: 60px 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 40px;
  }
  section {
    padding: 80px 0;
  }
}

/* ==========================================================================
   6. ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ
   ========================================================================== */
.no-scroll {
  overflow: hidden;
  touch-action: none;
}
.btn-hide {
  display: none !important;
}
/* 
Зачем он нужен, если есть display: none?
Если вы напишете display: none, элемент полностью исчезнет из документа. Скринридер его не прочитает, и в поиске он может учитываться хуже.
Класс .hiddenInput делает элемент невидимым (размером 1x1 пиксель), но технически он остается на странице.
Где это применяется чаще всего?
Стилизация чекбоксов и радиокнопок:
Стандартные «кружочки» и «галочки» нельзя красиво стилизовать. Поэтому разработчики скрывают настоящий input этим классом, а поверх рисуют красивую кнопку через <span> или label. При этом клавиатура (клавиша Tab) по-прежнему «видит» скрытый инпут.
Скрытые заголовки:
Если по дизайну в секции не нужен заголовок <h2>, но для SEO (поисковиков) он обязан быть, его скрывают таким классом.
Кнопки с иконками:
Если на кнопке только иконка «Х» (крестик), незрячий человек не поймет, что она делает. Внутри кнопки кладут текст «Закрыть окно» с этим классом — человек его не видит, а программа-диктор произносит.
 */
.hiddenInput {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto; /* скролиться весь бекдроп */
  padding: 20px; /* невеликий відступ зверху і знизу */
  box-sizing: border-box;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms;
}

.backdrop.is-hidden,
.modal-overlay.is-hidden,
.privacy-overlay.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop:not(.is-hidden) .modal {
  transform: scale(1);
}
