---
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Advantages from '../components/Advantages.astro';
import Services from '../components/Services.astro';
import Team from '../components/Team.astro';
import Gallery from '../components/Gallery.astro';
import Footer from '../components/Footer.astro';
import BurgerMenu from '../components/BurgerMenu.astro';
import Prices from '../components/Prices.astro';
import '../styles/main.css';
import Callback from '../components/Callback.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Сіріус - стоматологічний центр | Професійне стоматологічне лікування у Трускавці</title>
  </head>
  <body>
    <Header />
    <>
      <Hero />
      <About />
      <Advantages />
      <Services />
      <Team />
      <Gallery />
      <Prices/>
    </main>
    <Footer />
    <BurgerMenu />
    <Callback />
  </body>
</html>
