<section class="about">
  <div class="container">
    <h2>Про клініку</h2>
    <p>
      «TopDent» — це стоматологічний центр високого класу, готовий надати своїм пацієнтам усі види
      комплексного лікування, в рамках єдиної, виробленої досвідченими лікарями та узгодженої з
      вами, концепції.
    </p>
    <p>
      Стоматологічний центр «TopDent» створений спеціально для вибагливих пацієнтів. Для тих, хто
      цінує якість лікування в поєднанні з високим рівнем сервісу і комфорту. При цьому ми
      дотримуємося виключно індивідуального підходу до кожного, хто звернувся по допомогу.
    </p>
    <p>
      Для самих маленьких пацієнтів створена дитяча зона, де вони можуть зануритися в світ улюблених
      мультиків та іграшок, забувши про всі страхи, які пов’язані з відвідуванням стоматолога.
    </p>
    <p>Тест!!!!!!!!!!!!!!!!</p>
  </div>
</section>

<style>
  h2 {
    font-size: 90px;
  }
</style>
