---
import photo from '../assets/images/sirius-photo1.jpg?url';
---

<section class="about">
  <div class="container">
    <h2>Про клініку</h2>
    <div class="info-wrapper">
      <div class="text-wrapper">
        <p>
          Стоматологія ТзОВ "Сіріус ЛТД" в місті Трускавець під керівництвом Болоховецького
          Олександра Івановича пропонує широкий спектр стоматологічних послуг. Клініка відома своєю
          професійністю та індивідуальним підходом до кожного пацієнта. Завдяки сучасним методикам і
          передовому обладнанню, пацієнти отримують високоякісне лікування, яке відповідає найвищим
          стандартам стоматологічної допомоги.
        </p>
        <p>
          Команда лікарів клініки "Сіріус ЛТД" має великий досвід роботи в різних галузях
          стоматології.
        </p>
        <p>
          Клініка "Сіріус ЛТД" використовує сучасні методики, що дозволяє мінімізувати дискомфорт
          під час процедур та досягати найкращих результатів. Високий рівень кваліфікації лікарів у
          поєднанні з новітніми технологіями забезпечує безболісне та ефективне лікування. Пацієнти
          цінують цю клініку за професіоналізм, чуйне ставлення та комфортні умови, що створюють
          приємний досвід відвідування стоматолога.
        </p>
      </div>
      <div class="img-wrapper">
        <div class="img-thumb">
          <span class="left-corner"></span>
          <img src={photo} alt="фото стоматологічного кабінета" />
          <span class="right-corner"></span>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
  }

  .text-wrapper p {
    font-size: clamp(15px, 1.3vw, 30px);
  }

  .about h2 {
    position: relative;
    margin-bottom: 40px;
  }
  .about h2::before {
    content: '';
    position: absolute;
    top: 45%;
    left: -50px;
    display: block;
    width: 19px;
    height: 4px;
    background-color: var(--main-color);
  }

  .about h2::after {
    content: '';
    position: absolute;
    top: 45%;
    right: -50px;
    display: block;
    width: 19px;
    height: 4px;
    background-color: var(--main-color);
  }

  .img-wrapper {
    padding: 25px 25px;
  }

  .img-thumb {
    position: relative;
    width: 300px;
  }

  .left-corner::before {
    content: '';
    display: block;
    width: 60px;
    height: 8px;
    background-color: var(--photo-corner-color);
    position: absolute;
    top: -25px;
    left: -25px;
  }

  .left-corner::after {
    content: '';
    display: block;
    width: 8px;
    height: 60px;
    background-color: var(--photo-corner-color);
    position: absolute;
    top: -25px;
    left: -25px;
  }

  .right-corner::before {
    content: '';
    display: block;
    width: 60px;
    height: 8px;
    background-color: var(--photo-corner-color);
    position: absolute;
    bottom: -25px;
    right: -25px;
  }

  .right-corner::after {
    content: '';
    display: block;
    width: 8px;
    height: 60px;
    background-color: var(--photo-corner-color);
    position: absolute;
    bottom: -25px;
    right: -25px;
  }

  @media (min-width: 768px) {
    .about h2 {
      margin-bottom: 50px;
    }

    .text-wrapper {
      gap: 20px;
      line-height: 25px;
    }
  }

  @media (min-width: 1200px) {
    .info-wrapper {
      flex-direction: row;
    }

    .text-wrapper {
      width: 50%;
      line-height: 1.4;
      text-align: left;
      gap: 30px;
    }

    .img-wrapper {
      padding: 0;
      width: 50%;
    }

    .img-thumb {
      width: 100%;
    }
  }
</style>
