<section class="advantages">
  <div class="container">
    <h2>Чому нас обирають?</h2>
    <ul>
      <li>
        <h3>Кваліфікований медичний персонал</h3>
      </li>
      <li>
        <h3>Стерилізація інструментів автоклавами MELAG, SIRONA</h3>
      </li>
      <li>
        <h3>Європейське обладнання нового покоління</h3>
      </li>
      <li>
        <h3>Гарантія майже на всі види послуг</h3>
      </li>
      <li>
        <h3>Лікування складних стоматологічних випадків</h3>
      </li>
      <li>
        <h3>Прийом по запису без очікування в черзі</h3>
      </li>
      <li>
        <h3>Імплантація MIS і STRAUMANN</h3>
      </li>
      <li>
        <h3>Баланс між якістю і ціною</h3>
      </li>
    </ul>
  </div>
</section>
