---
import location from '../assets/icons/location.svg?url';
import clock from '../assets/icons/clock2.svg?url';
import call from '../assets/icons/call.svg?url';
import mail from '../assets/icons/mail.svg?url';

import ViberIcon from '../assets/icons/viber.svg';
import TelegramIcon from '../assets/icons/telegram.svg';
import WhatsAppIcon from '../assets/icons/whatsapp.svg';
---

<section id="contacts" class="contacts">
  <div class="container">
    <h2>Контакти</h2>
    <div class="all-info-wrapper">
      <div class="info-wrapper">
        <ul class="info-list">
          <li class="info-item">
            <div class="sign-wrapper">
              <img src={location} alt="" class="sign" />
            </div>
            <div class="text-wrapper">
              <h3>Адреса:</h3>
              <p class="info-text">Суховоля, 50, Трускавец 2 этаж, офис 1</p>
            </div>
          </li>
          <li class="info-item">
            <div class="sign-wrapper">
              <img src={clock} alt="" class="sign" />
            </div>
            <div class="text-wrapper">
              <h3>Графік роботи:</h3>
              <p class="info-text">Пн.- Пт. 10:00 - 20:00, Сб. 10:00 - 18:00</p>
            </div>
          </li>
          <li class="info-item">
            <div class="sign-wrapper">
              <img src={call} alt="" class="sign" />
            </div>
            <div class="text-wrapper">
              <h3>Телефони:</h3>
              <div class="phones-wrapper">
                <div><a href="tel:0674764995" class="phone">(067)476-49-95</a></div>
                <span class="divider phone">|</span>
                <div><a href="tel:0637415529" class="phone">(063)741-55-29</a></div>
                <span class="divider phone">|</span>
                <div><a href="tel:0962568070" class="phone">(096)256-80-70</a></div>
              </div>
            </div>
          </li>
          <li class="info-item">
            <div class="sign-wrapper">
              <img src={mail} alt="" class="sign" />
            </div>
            <div class="text-wrapper">
              <h3>Електронна пошта:</h3>
              <a href="mailto:topdent.vn@gmail.com" class="info-text mail">topdent.vn@gmail.com</a>
            </div>
          </li>
        </ul>
        <ul class="social-list">
          <li class="social-item">
            <a
              class="social-link"
              href="viber://chat?number=%2B380501234567"
              target="_blank"
              rel="noopener"
              aria-label="Написати у Viber"
            >
              <ViberIcon class="social-sign" role="img" />
            </a>
            <p>Viber</p>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://t.me/Konstantin_Sorochan"
              target="_blank"
              rel="noopener"
              aria-label="Написати у Telegram"
            >
              <TelegramIcon class="social-sign" role="img" />
            </a>
            <p>Telegram</p>
          </li>
          <li class="social-item">
            <a
              class="social-link"
              href="https://wa.me/380631011119"
              target="_blank"
              rel="noopener"
              aria-label="Написати у Whatsapp"
            >
              <WhatsAppIcon class="social-sign" role="img" />
            </a>
            <p>WhatsApp</p>
          </li>
        </ul>
      </div>

      <div class="map-wrapper">
        <div class="map-thumb">
          <span class="left-corner"></span>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2602.9492807430615!2d23.4949757759875!3d49.27735827113193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473a49b1422d8c8d%3A0xf243f5ca1eca3235!2z0YPQuy4g0KHRg9GF0L7QstC-0LvRjywgNTAsINCi0YDRg9GB0LrQsNCy0LXRhiwg0JvRjNCy0L7QstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA4MjIwMA!5e0!3m2!1sru!2sua!4v1773679864395!5m2!1sru!2sua"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
          <span class="right-corner"></span>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .contacts .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacts h2 {
    position: relative;
    margin-bottom: 20px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.588);
  }

  .contacts h2::before,
  .contacts h2::after {
    content: '';
    position: absolute;
    top: 45%;

    display: block;
    width: 25px;
    height: 4px;

    border-radius: 2px;
  }

  .contacts h2::after {
    background: linear-gradient(90deg, var(--main-color), transparent);
    right: -50px;
  }
  .contacts h2::before {
    background: linear-gradient(90deg, transparent, var(--main-color));
    left: -50px;
  }

  .all-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .info-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .info-list h3 {
    margin-bottom: 10px;
  }

  .info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .sign-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #3b3b3a14;
  }

  .sign-wrapper::before {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-color);
  }

  .sign {
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  .text-wrapper {
    text-align: center;
  }

  .phone,
  .mail {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
  }

  .phone::after,
  .mail::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--main-color), transparent);
    transition: all 0.4s ease;
  }

  .phone:hover,
  .mail:hover {
    color: var(--main-color);
    text-shadow: 0 0 8px rgba(47, 158, 136, 0.6);
  }

  .phone:hover::after,
  .mail:hover::after {
    transform: translateY(-2px);
    width: 100%;
  }

  .info-text,
  .phone {
    font-size: clamp(15px, 1.3vw, 26px);
  }

  .phones-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
  }

  .divider {
    color: #837a96;
  }

  .social-list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .social-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-list p {
    margin-top: 8px;
    font-size: 10px;
    letter-spacing: 0.05em;
  }

  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: #8c8ca83d;
  }

  .social-link:hover > .social-sign {
    fill: #424057a2;
    scale: 1.1;
  }

  .social-sign {
    width: 20px;
    height: 20px;
    fill: #424057;
    transition: var(--effectDuration);
  }

  .map-wrapper {
    width: 100%;
    padding: 15px 25px;
  }

  .map-thumb {
    position: relative;
    width: 100%;
  }

  iframe {
    width: 100%;
    height: 350px;
  }

  .left-corner::before,
  .left-corner::after {
    content: '';
    display: block;
    width: 60px;
    height: 8px;
    background-color: var(--photo-corner-color);
    position: absolute;
    top: -25px;
    left: -25px;
  }

  .left-corner::after {
    width: 8px;
    height: 60px;
  }

  .right-corner::before,
  .right-corner::after {
    content: '';
    display: block;
    width: 60px;
    height: 8px;
    background-color: var(--photo-corner-color);
    position: absolute;
    bottom: -20px;
    right: -25px;
  }

  .right-corner::after {
    width: 8px;
    height: 60px;
  }

  @media (min-width: 768px) {
    .contacts h2 {
      margin-bottom: 50px;
    }

    .contacts h2::before {
      width: 25px;
    }

    .contacts h2::after {
      width: 25px;
    }

    .info-wrapper {
      line-height: 25px;
    }

    .info-list {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      gap: 30px;
    }

    .info-item {
      width: 40%;
    }

    .social-list p {
      font-size: 12px;
    }
  }

  @media (min-width: 1200px) {
    .all-info-wrapper {
      flex-direction: row;
      width: 100%;
    }

    .info-wrapper {
      width: 50%;
      line-height: 1.4;
      text-align: left;
      gap: 30px;
    }

    .info-list {
      flex-direction: column;
    }

    .info-item {
      flex-direction: row;
      gap: 20px;
      width: 100%;
    }

    .text-wrapper {
      text-align: left;
    }

    .phones-wrapper {
      justify-content: start;
    }

    .text-wrapper h3 {
      margin-bottom: 0;
    }

    .map-wrapper {
      padding: 0;
      width: 50%;
    }

    .map-thumb {
      width: 100%;
    }

    iframe {
      height: 385px;
    }

    .social-list p {
      font-size: 14px;
    }
  }
</style>
