---
import '../styles/main.css';
import LogoIcon from '../assets/icons/Sirius-logo.svg';
---

<footer class="footer">
  <div class="container">
    <a href="#top" class="logo-wrapper">
      <LogoIcon class="logo" />
      <div class="name-wrapper">
        <p>Сіріус</p>
        <p>стоматологічний центр</p>
      </div>
    </a>
    <p class="privacy">Політика конфіденційності</p>
    <p class="copyright">© 2026 Сіріус. Всі права захищені.</p>
  </div>
</footer>

<style>
  .footer {
    padding: 20px;
    background-color: var(--bgc-footer);
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer p {
    font-size: var(--fs-footer);
    color: var(--text-color-white);
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo-wrapper p:first-child {
    font-size: 18px;
    color: var(--main-color);
  }

  .logo {
    fill: var(--main-color);
  }

  .privacy {
    text-decoration: underline;
    cursor: pointer;
  }

  .privacy:hover {
    text-shadow: 2px 3px 4px rgba(68, 133, 90, 0.845);
  }

  @media (min-width: 768px) {
    .logo-wrapper p:first-child {
      font-size: 22px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: end;
    }
  }
</style>

<script>
  import { initPrivacyModal } from '../scripts/privacyModal';

  initPrivacyModal('.privacy');
</script>
