<header>
  <div class="container">
    <a href="#">м. Вінниця, вул. С. Бандери, 9 (колишня Льва Толстого, 9) </a>
    <div class="tpan__item-text">
      <a href="tel:0674903856" class="binct-phone-number-1" data-binct-original="1"
        >(067)490-38-56</a
      ><span class="divider">|</span><a
        href="tel:0631537279"
        class="binct-phone-number-2"
        data-binct-original="3">(063)153-72-79</a
      >
    </div>
  </div>
</header>
