<section class="hero">
  <div class="container">
    <h1>Стоматологічний центр «Сіріус» - для людей та про людей!</h1>
    <p>
      Професійна команда, преміальне обладнення, сучасні методи лікування і атмосфера комфорту -
      наші головні переваги.
    </p>
    <button>Записатися на прийом</button>
  </div>
</section>
