<section class="services">
  <h2>Послуги</h2>
  <ul>
    <li>
      <h3>Протезування</h3>
    </li>
    <li>
      <h3>Відбілювання</h3>
    </li>
    <li>
      <h3>Імплантація</h3>
    </li>
    <li>
      <h3>Амбулаторна хірургія</h3>
    </li>
    <li>
      <h3>Пародонтологія</h3>
    </li>
  </ul>
</section>
