---
import doc1 from '../assets/images/doc1.jpg';
import doc2 from '../assets/images/doc2.jpg';
---

<section class="team">
  <h2>Команда «TopDent»</h2>
  <ul>
    <li>
      <div><img src={doc1.src} alt="" /></div>
      <div>
        <h3>Черниш Андрій Володимирович</h3>
        <p>к.м.н., лікар-стоматолог, хірург-імплантолог</p>
      </div>
      <button>Детальніше</button>
    </li>
    <li>
      <div><img src={doc2.src} alt="" /></div>
      <div>
        <h3>Черниш Андрій Володимирович</h3>
        <p>к.м.н., лікар-стоматолог, хірург-імплантолог</p>
      </div>
      <button>Детальніше</button>
    </li>
  </ul>
</section>
